div {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.devices > div {
  display: flex;
  flex-direction: row;
  margin: 0.6em;
}

.devices > div > input {
  margin-right: 1em;
}
